[Container]
Image=ghcr.io/rom3dius/hyprome-dev-container:latest
Name=dev
User=$UID
UserNS=keep-id

Network=host
Environment=SSH_AUTH_SOCK=%t/1password/agent.sock
Environment=CONTAINER_HOST=unix:///run/user/$UID/podman/podman.sock

Volumes=home:/home/$USER
Volumes=%t:%t

Remove=true
Update=true
[Service]
Restart=on-failure

