[Unit]
Description=Sync dotfiles and oh-my-zsh
Wants=hyprland-reloader.service
After=hyprland-reloader.service

[Service]
Type=oneshot
ExecStart=/usr/lib/hyprome-dots/sync-dots.sh
StandardOutput=journal
StandardError=journal
RemainAfterExit=true

[Install]
WantedBy=default.target

