[Unit]
Description=Run toolbox setup scripts
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/toolbox-bootstrap
RemainAfterExit=true

[Install]
WantedBy=default.target
